/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'text.css';
@import 'progress.css';
:root {
    --ion-color-primary: #d71921;
    --ion-color-primary-rgb: 105, 187, 123;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #750e13;
    --ion-color-primary-tint: #f0989c;


    --ion-color-secondary: #FAFAFA;
    --ion-color-secondary-rgb: 105, 187, 123;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #750e13;
    --ion-color-secondary-tint: #f0989c;
    --ion-font-family: 'Arial, sans-serif';


    --ion-color-tertiary: #b8b8b8;
    --ion-color-tertiary-rgb: 105, 187, 123;
    --ion-color-tertiary-contrast: #686868;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #424242;
    --ion-color-tertiary-tint: #000000;


    --ion-color-warning: #FFB300;
    --ion-color-warning-rgb: 105, 187, 123;
    --ion-color-warning-contrast: #fafafa;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #FF8F00;
    --ion-color-warning-tint: #FF6F00;


    --ion-color-surface: #E0E0E0;
    --ion-color-surface-rgb: 105, 187, 123;
    --ion-color-surface-contrast: #000000;
    --ion-color-surface-contrast-rgb: 0, 0, 0;
    --ion-color-surface-shade: #BDBDBD;
    --ion-color-surface-tint: #FAFAFA;
}
.ion-color-surface {
    --ion-color-base: var(--ion-color-surface);
    --ion-color-base-rgb: var(--ion-color-surface-rgb);
    --ion-color-contrast: var(--ion-color-surface-contrast);
    --ion-color-contrast-rgb: var(--ion-color-surface-contrast-rgb);
    --ion-color-shade: var(--ion-color-surface-shade);
    --ion-color-tint: var(--ion-color-surface-tint);
}
*{
    font-family: Arial, sans-serif;
}
ion-button:active {
    --background: #53090d; /* Customize the background color */
    --box-shadow: none; /* Remove shadow when active */
}

.checkbox {
    --border-radius: 8px; /* Make it a square */
    --background: #fff;   /* Background color when unchecked */
    --border-color: #fff;  /* Border color of the checkbox */
    --checkmark-color: #FFC107; /* Color of the checkmark when checked */
    --size: 20px;         /* Size of the checkbox */
}

.checkbox.checked {
    --background: #fff; /* Background color when checked */
}

ion-menu::part(backdrop) {
    background-color:#270406;
}

ion-menu::part(container) {
    border-radius: 0 10px 10px 0;

    box-shadow: 4px 0px 16px #5e02077e;
}
/* !---------------------------------------------------- */
/* !                      styles                         */
/* !---------------------------------------------------- */

p{
    margin: 0;
}
.position-relative{
    position: relative!important;
}
.d-flex{
    display: flex !important;
}
.align-center{
    align-items: center !important;
}
.align-end{
    align-items: end !important;
}
.justify-center{
    justify-content: center !important;
}
.justify-space-between{
    justify-content: space-between !important;
}
.overflow-hidden{
    overflow: hidden!important;
}
.spacer{
    width: 100%;
}
/* !---------------------------------------------------- */
/* !                      transition                     */
/* !---------------------------------------------------- */
.image-up-enter-active {
    transition: all 0.6s ease-out;
}

.image-up-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.image-up-enter-from {
    transform: translate( -50%,-40%);
    opacity: 0;
}
.image-up-leave-to {

    transform: translate( -200%, -50%)!important;
    opacity: 0;
}

.slide-left-enter-active {
    transition: all 0.6s ease-out;
}

.slide-left-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX( 20px);
    opacity: 0;
}

.slide-right-enter-active {
    transition: all 0.6s ease-out;
}

.slide-right-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-right-enter-from,
.slide-right-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}
.slide-up-enter-active {
    transition: all 0.6s ease-out;
}

.slide-up-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-up-enter-from,
.slide-up-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.slide-down-enter-active {
    transition: all 0.6s ease-out;
}

.slide-down-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-down-enter-from,
.slide-down-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.transition{
    transition: all 0.6s ease-in-out!important;
}
/* !---------------------------------------------------- */
/* !                      transition                     */
/* !---------------------------------------------------- */

.text-primary{
    color: var(--ion-color-primary)!important;
}